{% extends 'base_accounts.html' %}
{% block title %}
    Log in to Django Boards
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">
                            Log In
                        </h3>
                        <form method="post" novalidate>
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ next }}">
                            {% include 'includes/form.html' %}
                            <button type="submit" class="btn btn-primary btn-block">Log In</button>
                        </form>
                    </div>
                    <div class="card-footer text-muted text-center">
                        New to Django Boards? <a href="{% url 'accounts:signup' %}">Sign Up</a>
                    </div>
                </div>
                <div class="text-center py-2">
                    <small>
                        <a href="#" class="text-muted">Forgot your password</a>
                    </small>
                </div>
            </div>
        </div>
{% endblock %}