{% extends 'base_accounts.html' %}
{% block title %}
    Reset your password
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Reset your password</h3>
                    <p>Enter your email address and we will send you a link to reset your password</p>
                    <form action="" method="post" novalidate>
                        {% csrf_token %}
                        {% include 'includes/form.html' %}
                        <button class="btn btn-primary btn-block" type="submit">Send Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}