{% extends 'base_accounts.html' %}
{% block title %}
    Sign up into Django Board
{% endblock %}
{% block content %}
    <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">
                            Sign Up
                        </h3>
                        <form method="post" novalidate>
                            {% csrf_token %}
                            {% include 'includes/form.html' %}
                            <button type="submit" class="btn btn-primary btn-block">Create an Account</button>
                        </form>
                    </div>
                    <div class="card-footer text-muted text-center">
                        Already have an account? <a href="{% url 'accounts:login' %}">Log In</a>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}