{% extends 'base.html' %}
{% load bootstrap4 %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Boards</li>
{% endblock %}

{% block content %}
    {% if boards %}
        <div class="row">
            <div class="col-12 mt-2">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Board</th>
                            <th>Posts</th>
                            <th>Topics</th>
                            <th>Last Post</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for board in boards %}
                            <tr>
                                <td>
                                    <a href="{% url 'boards:detail' board.pk %}">
                                        {{ board.name }}
                                    </a>
                                    <small class="text-muted d-block">{{ board.description }}</small>
                                </td>
                                <td>{{ board.get_post_count }}</td>
                                <td>{{ board.topics.count }}</td>
                                <td>
                                    {% with post=board.get_last_post %}
                                        {% if post %}
                                            <small>
                                                <a href="{% url 'boards:topic_posts' board.pk post.topic.pk %}">
                                                    By {{ post.created_by.username }} at {{ post.created_at }} pk {{ board.pk  }} topic_pk {{ post.topic.pk }}
                                                </a>
                                            </small>
                                        {% else %}
                                            <small class="text-muted">
                                              <em>No posts yet.</em>
                                            </small>
                                        {% endif %}

                                    {% endwith %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}