{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}
    Start a new topic
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'boards:index' %}">Board</a></li>
    <li class="breadcrumb-item "><a href="{% url 'boards:detail' board.pk %}">{{ board.name }}</a></li>
    <li class="breadcrumb-item active">New Topic</li>
{% endblock %}

{% block content %}
    <form method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-success">Post</button>
    </form>
{%  endblock %}