{% extends 'bootstrap4/bootstrap4.html' %}
{% load bootstrap4 %}
{% block bootstrap4_extra_head %}
    <title>
        {% block title %}
            Django Boards
        {% endblock %}
    </title>
    {% block stylesheet_head %}{% endblock %}
{% endblock %}

{% block bootstrap4_content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a href="{% url 'boards:index' %}" class="navbar-brand">Boards</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mainMenu">
                {% if user.is_authenticated %}
                    <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.username }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                            <a href="#" class="dropdown-item">My Account</a>
                            <a href="{% url 'accounts:password_change' %}" class="dropdown-item">Change Password</a>
                            <div class="dropdown-divider"></div>
                            <a href="{% url 'accounts:logout' %}" class="dropdown-item">Log Out</a>
                        </div>
                    </li>
                </ul>
                {% else %}
                    <form action="" class="form-inline ml-auto">
                        <a href="{% url 'accounts:login' %}" class="btn btn-outline-secondary">Log In</a>
                        <a href="{% url 'accounts:signup' %}" class="btn btn-primary ml-2">Sign Up</a>
                    </form>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="container mt-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {% block breadcrumb %}
                {% endblock %}
            </ol>
        </nav>
        {% block content %}(no content){% endblock %}
    </div>
{% endblock %}