{% extends 'base.html' %}

{% load  static %}
{% block stylesheet_head %}
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block bootstrap4_content %}
    <div class="container">
        <h1 class="text-center logo my-4">
            <a href="{% url 'boards:index' %}">Django Boards</a>
        </h1>
        {% block content %}{% endblock %}
    </div>
{% endblock %}